/* Importing Font Families */
@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap"); /*font-family: 'Island Moments', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); /*font-family: 'Lato', sans-serif;*/

/*CSS Root Selectors*/
:root {
  --PriFont: "Lato", sans-serif;
  --SecFont: "Island Moments", cursive;
  --PriColor: #2596be;
  --SecColor: #96be25;
}

/*General Styling*/
* {
  padding: 0px 5px;
  margin: 0px auto;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

p,
li {
  font-family: var(--PriFont);
  line-height: 20px;
  animation: transitionIn 5s;
}

h1,
h2 {
  margin-block: 0px;
  padding: 0px;
  margin: 0px;
}

.heading {
  color: var(--PriColor);
  font-family: var(--SecFont);
  font-weight: 900;
}

.icon {
  font-size: 35px;
  padding: 0px 10px;
  margin: 0px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/*Header*/
.head {
  justify-content: center;
  align-items: center;
  line-height: 35px;
}

.intro {
  font-size: 20px;
}

.intro,
.description {
  font-family: var(--PriFont);
  padding: 0px;
  margin: 0px;
}

.name {
  font-family: var(--SecFont);
  font-size: 4rem;
  color: var(--PriColor);
}

.description {
  font-size: 16px;
}

/*About Me*/
.about-heading {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding-top: 1.3em;
}

.bold {
  color: var(--SecColor);
}

.image {
  width: 100%;
  height: 25em;
  padding-top: 10px;
}

/* Skills*/
.skills {
  font-size: 1.5rem;
  justify-content: center;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 0px;
  margin: 0px;
}

.skills-list {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.skills-div {
  padding: 0px 10px;
  margin: 0px;
}

.skills-ul {
  flex: 1;
  margin: 0px;
  padding: 0px 15px;
}

.skills-icon {
  color: var(--PriColor);
  font-size: 1.5rem;
}

.sub-heading {
  color: var(--SecColor);
  font-family: var(--SecFont);
  font-size: 1.75rem;
  padding: 10px;
  margin: 0px;
}

/*Why SovTech*/
.SovTech-Why {
  align-items: center;
  justify-content: center;
}

.SovTech {
  flex-direction: row;
  font-size: 1.2rem;
  padding-top: 30px;
}

.SovTech-icon {
  margin: 0px;
}

/*Footer*/
.links {
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  padding: 0px;
  margin: 0px auto;
  max-width: 10%;
}

.git,
.linkedIn {
  color: var(--PriColor);
  font-size: 3rem;
}

/*Media Queries*/
@media all and (min-width: 620px) {
  .about-article {
    margin: 0px auto;
    max-width: 60%;
  }

  .image {
    float: left;
    max-width: 250px;
    height: 400px;
    padding: 0px 5px;
  }

  .about-article > p {
    text-align:justify;
  }

  .skills-list {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
  }

  .SovTech-Why > p {
    max-width: 60%;
  }
}

@media all and (min-width: 1000px) {
  .image {
    height: 28vh;
  }
}

@media all and (min-width: 1300px) {
  .name {
    font-size: 5rem;
    padding-top: 10px;
  }
  .image {
    width: 250px;
    height: 200px;
  }
}
